@using MovieProject.Views.Shared
@model ApplicationCore.Models.MovieCastResponseModel



    <div class="container">
        <div class="row">
           

                <div class="col-2" >
                    <img src="@Model.ProfilePath" class="rounded-circle" style="width:40px" alt="@Model.Name" />
                    
                </div>
                <div class="col-10">
                    <div class="row" style="width: 90%">
                        @Model.Name
                    </div>
                    <div class="row" style="width: 90%">
                        @Model.Gender
                    </div>
                    <div class="row" style="width: 90%">
                        <a href="@Model.TmdbUrl">Link</a>

                    </div>
                </div>
             

           
        </div>
        <div class="row">
            <div class="rounded" style="width : 90%">
                <div class="container-fluid bg-light">
                    <div class="row">
                        @foreach (var movie in Model.MovieCards)
                        {
                            <div class="col-2">
                                <partial name="_MovieCard" model="movie" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
     </div>


        
